/* Nav Bar Styling */
@import "nav-bar.css"; 
/* Footer Styling */
@import "footer.css"; 

/* Set Variables */
:root {
    /* Define Color Variables */
    --mainBlue: #53ADC7;
    --navyBlue: #023436;
    --goldYellow: #E6AF2E;
    --umber: #7C6354;
    --gray: #D0E1E4;
}

/* -------------------------- General Styling -------------------------- */
* {
    border: 1px dotted black;
    background-color: var(--gray);
    color: var(--navyBlue);
}

.flex-Container {
    display: flex;
}

/* -------------------------- Header Styling -------------------------- */
header {
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
}

.globe {
    height: 20vh; 
}

/* -------------------------- Country Header Styling -------------------------- */
.country-img {
    width: 100vw;
    height: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--mainBlue);

}

.country-img img {
    width: auto;
    
}

.country-name {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: left;
    display: flex;
    align-content: flex-start;
}

/* -------------------------- List Section Styling -------------------------- */
section.flex-Container {
    justify-content: space-evenly;
}

div {
    width: 25vw;
}

h3 {
    text-align: center;
}