@import "nav-bar.css";
@import "footer.css";
@import "newlayout.css";


.country-img {
    size: 40vh;
    display: flex;
    justify-content: flex-start;

}

/* * {
    border: dotted black;
} */

.country-img {
    display: flex;
    width: 55vw;
    margin-left: 18%;
    background-size: 2em;
    
    
}

.country-name {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: left;
    display: flex;
    align-content: flex-start;
}

/* Footer Styling */

/* Navbar styling
 */

 .globe {
    height: 20vh; 
 }
 
 .nav-container {
     display: flex;
     justify-content: space-evenly;
 }
 
 .links {
     text-decoration: none;
     
 }
 
 .nav-item {
     list-style-type: none;
 }
