/* Nav Bar Styling */
@import "nav-bar.css"; 
/* Footer Styling */
@import "footer.css"; 

/* Set Variables */
:root {
    /* Define Color Variables */
    --mainBlue: #53ADC7;
    --navyBlue: #023436;
    --goldYellow: #E6AF2E;
    --umber: #7C6354;
    --gray: #D0E1E4;
}

/* -------------------------- General Styling -------------------------- */
* {
    /* border: 1px dotted black; */
    background-color: var(--gray);
    color: var(--navyBlue);
    font-family: Arial, Helvetica, sans-serif;
}

.flex-Container {
    display: flex;
}

body {
    margin: 1em;
}

/* -------------------------- Header Styling -------------------------- */
header {
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
    background-color: var(--mainBlue);
}

h1 {
    background-color: var(--mainBlue);
}

.globe {
    height: 20vh; 
}

/* -------------------------- Country Header Styling -------------------------- */
.country-img {
    border: 2px solid black;
    margin: none;
    padding: none;
    width: 100vw;
    height: 35vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: url(https://familytraveller.com/usa/wp-content/uploads/sites/2/2019/10/bergen-norway-frozen-inspired-family-vacation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20vw;
}

.country-name {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    background-color: var(--mainBlue);
}

h2 {
    background-color: var(--mainBlue);
}

/* -------------------------- List Section Styling -------------------------- */
section.flex-Container {
    justify-content: space-evenly;
}

div.flex-Container {
    flex-direction: column;
    width: 25vw;
    background-color: var(--goldYellow);
}

article {
    background-color: var(--goldYellow);
    border: 2px solid var(--navyBlue)
}
h3 {
    text-align: center;
    border-bottom: 2px solid var(--umber);
    background-color: var(--goldYellow)
}

h4 {
    margin: 0;
    padding-top: 1em;
    background-color: var(--goldYellow)
}

div ul {
    background-color: var(--goldYellow);
}

div ul li {
    background-color: var(--goldYellow);
}

.list-img {
    width: 25vw;
}